__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
tests/
install.py
docs/*
CHANGELOG.md
resources/libraries/
vredx.zip
vredx/baking/third_party/materialx/*
!vredx/baking/third_party/materialx/README.md
dist/
.vscode/
*.log
